.Navbar {
    display: flex;
    height: 40px;
    padding: 10px;
    background-color: rgb(237, 237, 237, 0.8);
    border-bottom: 1px solid rgb(229 229 229);
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.Navbar-start {
    display: flex;
    align-items: flex-end;
    column-gap: 20px;
}

.Navbar-start > .Logo-text {
    font-weight: 900;
    font-size: 19px;
    margin-left: 20px;
}

.Provider-status {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.Provider-status .badge {
    width: 12px;
    height: 12px;
    background-color: var(--badge-light-red);
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.2rem var(--badge-red);
}

.Navbar-end > ul {
    display: flex;
    list-style: none;
    column-gap: 15px;
    margin-right: 20px;
}